<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="ui content">
        <div class="ui feed">
          <% Mail.all.each do |mail| %>
            <p>
              <strong>
                <em><%= mail.user.name + ': '%></em>
              </strong>
              <%= mail.body %>
              </p>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <div class="ui fluid icon input">
          <input type="text" placeholder="Say something..">
          <i class="bordered inverted teal edit link icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid card chatbox">
      <div class="ui content">
        <div class="ui secondary vertical menu">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>