<div class="event">
  <div class="content">
    <div class="summary">
      <p>
        <strong>
          <em><%= mail.user.name + ': '%></em>
        </strong>
        <%= mail.body %>
      </p>
    </div>
  </div>
</div>
            
